body {
  text-align: center;
  background-color: #1a1a1a;
}

.input:nth-child(3):checked ~ .div .ul{--selected-item: 0;}
.input:nth-child(4):checked ~ .div .ul{--selected-item: 1;}
.input:nth-child(5):checked ~ .div .ul{--selected-item: 2;}
.input:nth-child(6):checked ~ .div .ul{--selected-item: 3;}
.input:nth-child(7):checked ~ .div .ul{--selected-item: 4;}
.input:nth-child(8):checked ~ .div .ul{--selected-item: 5;}

.radio {
  cursor: pointer;
  overflow: scroll;
}

.div {
  overflow: hidden;
}

.ul {
  --selected-item: 0;
  --total-items: 6;
  list-style-type: none;
  margin: 10px;
  padding: 0;
  position: relative;
  left: calc(var(--selected-item) * -100%);
  width: calc(var(--total-items) * 100%);
  transition: left 1s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.img {
  width: 500px;
  height: 500px;
  border-radius: 10px;
}
.li {
  width: 100%;
}

.main{
  min-height: calc(100vh - 130px);
}

.title{
  color: #fff;
}